.App {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 59px;

  position: relative;
  width: 252px;
  height: 572px;
}
.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}
.SidebarList .row{
  width: 100%;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #1E0D03;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.SidebarList .row:hover{
  cursor: pointer;
  background-color: orange;
}
.row #icon{
  left: 12.5%;
  right: 12.5%;
  top: 8.23%;
  bottom: 8.33%;
  display: grid;
  place-items: center;
}
.row #title{
  width: 93px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #1E0D03;

opacity: 0.6;
flex: none;
order: 1;
flex-grow: 0;
}
.SidebarList #active{
  background-color: orange;
}
.searchfilter{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 16px;

position: absolute;
width: 437px;
height: 48px;
left: 321px;
top: 17px;

background: #EDE6E6;
border-radius: 12px;
}
.searchfilter input{
  width: 361px;
  height: 38px;

font-family: 'Montserrat';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #1E0D03;
opacity: 0.3;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}