.App {
  position: relative;
  width: 1920px;
  height: 1080px;
  
  background: #F9F6F4;
  border-radius: 24px;
}
body{
  margin: 0;
  padding: 0;
}
.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #F9F6F4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 59px;

  position: relative;
  width: 252px;
  height: 572px;
}
.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}
.SidebarList .row{
  width: 100%;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #1E0D03;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.SidebarList .row:hover{
  cursor: pointer;
  background-color: orange;
}
.row #icon{
  left: 12.5%;
  right: 12.5%;
  top: 8.23%;
  bottom: 8.33%;
  display: grid;
  place-items: center;
}
.row #title{
  width: 93px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #1E0D03;

opacity: 0.6;
flex: none;
order: 1;
flex-grow: 0;
}
.SidebarList #active{
  background-color: orange;
}
.search{
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 16px;
margin: -10px;
position: absolute;
width: 437px;
height: 48px;
left: 321px;
top: 17px;

background: #EDE6E6;
border-radius: 12px;
}
.search input{
  width: 361px;
  height: 48px;
font-family: 'Montserrat';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #1E0D03;
opacity: 0.3;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
border: none;
border-radius:12px ;
background-color: #EDE6E6;
}
.search-btn{
  height: 39px;
left: 0%;
right: 14.29%;
top: 0%;
bottom: 14.28%;
border: 0;
background-color: #EDE6E6;
}
.notimail{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 144px;
height: 48px;
left: 1600px;
top: 17px;
}
.notimail .mail{
  width: 24px;
  height: 24px;
  opacity: 0.8;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 0;
}
.notimail .bell{
  width: 24px;
height: 24px;
opacity: 0.8;
flex: none;
order: 1;
flex-grow: 0;
border: 0;
}
.notimail .accnotimail{
  width: 48px;
  height: 48px;
  border-radius: 30px;
  flex: none;
  order: 2;
  flex-grow: 0;
  border: 0;
}
.alta{
position: absolute;
width: 132px;
height: 22px;
left: 50px;
top: 1027px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
display: flex;
align-items: center;
color: #1E0D03;
opacity: 0.5;
}